In [5]:
import pandas as pd
%matplotlib inline
from pathlib import Path
from zipfile import ZipFile
import xlrd
import openpyxl

In [6]:
file_list = [i for i in Path('./Задание/Задание/').iterdir()]
file_list

# raw_df = pd.read_excel(file_list[3])

[WindowsPath('Задание/Задание/json.json'),
 WindowsPath('Задание/Задание/txt.txt'),
 WindowsPath('Задание/Задание/Задание 1.xlsx'),
 WindowsPath('Задание/Задание/Задание 2 и 3.txt'),
 WindowsPath('Задание/Задание/Задание 4 (не обязательное).txt')]

In [7]:
df = pd.read_json(file_list[0])
df.to_csv('task_2.csv', index=False, encoding='utf-8')
df

,a,t,n,o,dob,e
0,Encino CA US 91316,7177374370,Raisa Banchik,30519673.0,NaN,NaN
1,NaN,NaN,Loren S,57016393.0,1937/03/17,NaN
2,Corpus Christi TX US 77410,3617134091,Steve Faucett,NaN,NaN,faucett9@yahoo.com
3,Saltillo MS US 37766,6633055037,Jamie Tipton,50156791.0,1979/07/03,NaN
4,NaN,NaN,Mario Ochoa,NaN,NaN,NaN
...,...,...,...,...,...,...
148,Laguna Niguel CA US 93677,NaN,Mc Gabriel,64737337.0,1969/13/01,marieclairegabrie@hotmail.com
149,Miramar FL US 33037,7546104633,Alejandro Chaves,NaN,NaN,alejochav@gmail.com
150,Burnaby BC CA V5G4G7,NaN,James Smith,77766979.0,1963/03/05,NaN
151,NaN,0 0 9096314449,Nancy Beltz,NaN,NaN,NaN
152,Pleasant Grove AL US 35137,NaN,Charles Bishop,70379609.0,1961/04/11,NaN